.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("https://images.pexels.com/photos/5202912/pexels-photo-5202912.jpeg?_gl=1*1fd4smm*_ga*OTk5NzkxMzc1LjE3MjMzNjgzNTY.*_ga_8JE65Q40S6*czE3NzQ5NjExNjckbzE0JGcxJHQxNzc0OTYxMTY4JGo1OSRsMCRoMA..");
    background-size: cover;
    font-family: "Lora", sans-serif;
  }
  
  .registerTitle {
    font-size: 50px;
    color: white;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
    color: white;
    font-weight: bold;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #26CFD8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .registerLoginButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }